[submodule "libs/Sophus"]
	path = libs/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "libs/ceres-solver"]
	path = libs/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "libs/opencv"]
	path = libs/opencv
	url = https://github.com/opencv/opencv.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
